<launch>
  <node pkg="driving_node" type="driving" name="driving" output="screen"/>
  <node pkg="gps_node" type="gps_publisher" name="gps_publisher" output="screen"/>
  <node pkg="cc_node" type="cc" name="cc" output="screen"/>
  <node pkg="gps_nav_node" type="gps_navto" name="gps_navto" output="screen"/>
  <node pkg="gps_nav_node" type="gps_turnto" name="gps_turnto" output="screen"/>
  <node pkg="comp_node" type="comp_node_pub" name="comp_node_pub" output="screen"/>
  <node pkg="lora_node" type="lora_c" name="lora_c" output="screen"/>
</launch>
